$color-main: #143628;
$color-main-dark: #192523;
$color-main-darker: #111214;
$color-main-light: #347b5d;
$color-main-lighter: #60af90;
$b-shadow-main: 1px 10px 14px 0px rgba(17,18,20,0.49);
$color-white: #ffff;
$color-black: black;
$b-shadow-inset: inset 0.3em 0.3em 1em rgb(0 0 0 / 30%);
